* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(136, 230, 176);
  }
  
  body {
    font-family: helvetica;
    font-size: 18px;
  }
  
  .container {
    
    margin: 100px auto;
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .quote-box {
    border: 2px solid #666;
    border-radius: 25px;
    padding: 25px 15px;
    margin-bottom: 15px;
  }
  #quote {
    color: rgb(26, 28, 4);
    text-align: center;
  }
  #author {
    float: right;
    color: rgb(8, 11, 12);
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
  }
  
  #btn {
    align-self: center;
    border: 2px solid #666;
    padding: 10px 15px;
    text-transform: uppercase;
    color: rgb(8, 11, 22);
    font-weight: bold;
    cursor: pointer;
    border-radius: 20px;
  }
  
  #btn:focus {
    outline: none;
  }
  